{% extends "layout.html" %}

{% block banner %}
<div class="my-3">
  <div class="container py-3 text-center text-primary-emphasis bg-primary-subtle rounded-3">
    <h1>wikibugs2</h1>
    <p class="lead">An IRC announce bot for bug tracker and code review events.</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card-group mb-3 mx-3">
  <div class="card border-secondary">
    <h5 class="card-header">API</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{{ url_for('openapi_client') }}">API documentation</a></li>
      <li class="list-group-item"><a href="{{ url_for('openapi') }}">OpenAPI spec</a></li>
    </ul>
  </div>
  <div class="card border-secondary">
    <h5 class="card-header">Info</h5>
    <ul class="list-group list-group-flush">
      {% for metric, epoch in last_seen.items() %}
      <li class="list-group-item">{{ metric }}: {{ epoch|format_time }} ({{ epoch|human_time }})</li>
      {% endfor %}
      <li class="list-group-item">startup: {{ boot_time|format_time }} ({{ boot_time|human_time }})</li>
      <li class="list-group-item"><a href="/metrics">Prometheus metrics</a></li>
    </ul>
  </div>
</div>
{% endblock %}
