{% extends "layout.html" %}

{% block title %}wikibugs2 API{% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/swagger-ui/5.13.0/swagger-ui.min.css" integrity="sha512-pV+ep5Xjvc5jwqjAGERsdA00vVaP7eaKd2dYDSEe3sqe3v4ohjue4O51AnLvQGOU2hrlTo7tvLpHXLZfQa9Ubg==" crossorigin="anonymous">
{% endblock %}
{% block js %}
  {{ super() }}
  <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/swagger-ui/5.13.0/swagger-ui-bundle.min.js" integrity="sha512-m6gPhCX++LFHjpIy9xDn8fa3IebM3sUYlr9mrKtnq+XIZFIogFm9ZnblchTbGm9CT+t3GOxw+TGLafH7tTTMTw==" crossorigin="anonymous"></script>
  <script>
    const ui = SwaggerUIBundle({
      url: "{{ url_for('openapi') }}",
      dom_id: "#swagger-ui",
      deepLinking: true,
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIBundle.SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "BaseLayout",
      showExtensions: true,
      showCommonExtensions: true
    });
  </script>
{% endblock %}
{% block content %}
  <div id="swagger-ui"></div>
{% endblock %}
